:root { 
    --link-color: #fff7c2;
}
body {
    background-color: #3e1166;
    color: #ebf0f8;
    font-family: Calibri, sans-serif;
}

h1 {
    font-size: 36px;
    color: #ebf0f8;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
}

p {
    font-size: 24px;
    width:95vw;
    text-align: justify;
}
.h2-not-bold {
    font-weight: normal;
}
h2 {
    text-align: center;
    color: #ebf0f8;
    font-size: 2rem;
    font-weight: bold !important;
}


img {
    display: block;
    margin: 0 auto;
}

h1 a {
    text-decoration: none; 
    color:#ebf0f8;
    font-size: 3rem;
}

#newLink:link {
    color:#ebf0f8;
}
#newLink:visited {
    color:#aa78d2;
}
#newLink:active {
    color: rgba(189, 189, 20, 0.959);
}

.Lorem > a:link {
    color:#ebf0f8;
}
.Lorem > a:visited {
    color:#aa78d2;
}
a:hover {   
    color: #dbd1a5 !important;
}
.usual-link {
    color: var(--link-color) !important;
    font-style: italic;
    text-decoration: none;
}
.usual-link span{
    color: #ebf0f8;
    text-decoration: none;
}

ul, ol, dl {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 24px;
}
dt {
    text-decoration:underline;
}
ul {
    list-style-type: disc
}
ol {
    list-style-type: decimal
}
img {
    display: inline-block;
    margin: 20px auto;
    max-width: 30%;
    height: auto;
}
.captions {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
}
table {
    margin: 10px auto;
    font-size: 150%;
}

table, th, td {
    border: 1px solid #fff7c2;
}

th, td {
    padding: 5px;
    text-align: center;
}

table caption {
    text-align: center;
}
table img {
    max-width: 30%;
}

col[span="2"] {
    background-color: rgb(50, 21, 76);
}

tbody tr:first-child td:last-child   {
    width: 15%;
}

tbody tr:nth-child(2) td:first-child {
    width: 15%;
}


h2 span {
    color: rgb(232, 232, 70);
}

#gvenKrist + img {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
}

tr > td {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.gallery {
    display: flex;
    flex-wrap: wrap; 
}

.gallery-item {
    width: calc(25% - 10px);
    text-align: center; 
    border-right: 2px solid whitesmoke;
}
.gallery-item:hover {
    background-color: rgb(107, 50, 134) ;
    transition: 0.3s;
}

.gallery-item img { 
    max-width: 200px;
    height: 300px;
    object-fit: cover;
}


.gallery-item span {
display: block;
background-color: rgb(126, 43, 147);
padding: 5px;
margin-right: auto;
margin-left: auto;
width: 50%;
text-align: center;
}
.news-item::before {
    content: "Реклама";
    color:rgb(232, 232, 70);
}
.news-item::after {
    content: "Кінець реклами";
    color:rgb(232, 232, 70);
}
.news-item {
    float: right;
    width: 20%;
    position: sticky;
    top: 200px;
}
.news-item img {
    max-width: 100%;
    margin-top: -10px;
}
.news-item p {
    width: 80%;
    font-size: 1.2rem;
} 
.Lorem {
    width: 78%;
}